<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center" center text-center>
  <form #form="ngForm" (ngSubmit)="signIn(form)">
    <ion-grid>
      <ion-row justify-content-center class="center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <h4 text-center margin-top>Insert your credentials</h4>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>