<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="switch"></ion-icon>
        <ion-button (click)="showFilter()">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      <!-- <ion-button auto-hide="false"></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Explorer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list #virtualScroll>
      <ion-item *ngFor="let flat of dataList" button (click)="showDetails()">
        <ion-label>
          <h2>{{flat.name}}</h2>
          <p>{{flat.dateAdded | date:'d MMM yyyy'}}, {{flat.pricepermeter | currency:'PLN'}} per m2</p>
          <p>{{flat.meterage}}m2 {{flat.price| currency:'PLN'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>